{% extends 'base.html.twig' %}

{% block body %}

    <main class="container">
        <h1>Your lucky number is {{ number }} without boosted class</h1>
        <h1 class="text-success">Your lucky number is {{ number }} with text-success boosted class</h1>

        <p>Accedat huc suavitas quaedam oportet sermonum atque morum, haudquaquam mediocre condimentum amicitiae.
            Tristitia
            autem et in omni re severitas habet illa quidem gravitatem, sed amicitia remissior esse debet et liberior et
            dulcior et ad omnem comitatem facilitatemque proclivior.</p>

        <div id="datepicker"></div>


        <div class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </div>

        <article>
            <form class="form-signin">
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
                     height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
            </form>
        </article>
    </main>

{% endblock %}
